<h1>Recipe Manager with Play Framework</h1>

<h2>This site serves to manage recipes and ingredients through requests.</h2>

<h2>The management options are as follows:</h2>

<p>-You can create an ingredient and enter it in the database</p>
<p>-You can get an ingredient by name</p>
<p>-You can get the list of ingredients by category and by shop name</p>
<p>You can get the list of all ingredients</p>
<p>-You can update an ingredient or remove it</p>
<p>-You can create a recipe</p>
<p>-Introduce an ingredient in a recipe</p>
<p>You can get the list of all recipes</p>
<p>-You can get a recipe by name and get the list of vegetarian recipes</p>
<p>-You can update or delete a recipe</p>
<p>-Finally, you can get a shop by name</p>